@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Deleted</title>
</head>
<body>
    <div>
        Delete has been successful.
    </div>
    <p>
    @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
